* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

/* ---- GLOBAL TAGS ---- */

body{
    overflow-x: hidden;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/*davit-section*/
.first-container{ /*ჰეადერის შემდეკი სექცია კონტეინერი*/
    /* background-color: ; */
    width: 1024px;
    margin: 0 auto;
    height: 4452px;
    display: flex; /*სიმაღლეზე განაწილებული თანაბრად სიგანეზე ცენტრში*/
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*პირველი არტიკლი*/
.modular-solutions{ /*სექცია კონტეინერის პირველი შვილი*/
    width: 1080px;  /*სიგრძე სიგანე*/
    height: 504px;
}
.container{
    display: flex; /*გვერდი გვერდ დაშორებით*/
    gap: 5px;
    width: 1075px;
    height: 445px;
}
.modular-solutions h3{ /*სათაური პირველი შვილის */
    width: 150px; /*სიგრძე სიგანე*/
    height: 28px;
    font-weight: 500; /*წრწერის ფონი სტილი და ზომა*/
    font-size: 16.73px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #635bff; /*ფერი და დაშორება გარედან*/
    margin-left: 16px;
}
.to-manage-content{ /*სათაური და პარაგრაფის მსობელი*/
    width: 540px;  /*სიგრძე სიგანე*/
    height: 470px;
    display: flex; /**/
    flex-direction: column;
    gap: 16px;
}
.to-manage-content h2{ /*კონტენტის სათაურის გასასტილად*/
    width: 460px;  /*სიგრძე სიგანე*/
    height: 272px;
    font-weight: 700; /*წრწერის ფონი სტილი და ზომა*/
    font-size: 51.63px;
    letter-spacing: -1.12px;
    color: #0a2540;
    margin-left: 16px;
}
.to-manage-content p{ /*კონკრეტულად პარაგრაფს*/
    width: 522px;  /*სიგრძე სიგანე*/
    height: 140px;
    font-weight: 700; /*წრწერის ფონი სტილი და ზომა*/
    font-size: 17.58px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466; /*ფერი და დაშორება გარედან*/
    margin-left: 16px;
}
.to-manage-img{
    width: 540px;  /*სიგრძე სიგანე*/
    height: 470px;
    display: flex;
}
.left{ /*მარცხენა იკონების მშობელი*/
    width: 100px;  /*სიგრძე სიგანე*/
    height: 467px;
}
.icon1{ /**/
    width: 100px;  /*სიგრძე სიგანე*/
    height: 232px;
    display: flex; /**/
    justify-content: center;
    align-items:flex-end;
}

.wraper{ /*ბარათების ვრაპერი*/
    display: flex; /*სიმაღლეზე ერთმანეთის ქვემოთ სიგრძეზე ცენტრში */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.kavholm{ /*პირველი ბარათი*/
    display: flex; /*გაცენტვრა*/
    justify-content: center;
    align-items: center;
    font-size: 18px; /*სიგრძე სიგანე*/
    border-radius: 8px;
    opacity: 0;
    transform: translateY(100%); /**/
    animation: moveUp 1.5s ease-out forwards;
}
.rocket-rider{
    display: flex; /*გაცენტვრა*/
    justify-content: center;
    align-items: center;
    font-size: 18px; /*სიგრძე სიგანე*/
    border-radius: 8px;
    opacity: 0;
    transform: translateY(100%); /**/
    animation: moveUp 1.5s ease-out forwards; 
}
.powdur{
    display: flex;  /*გაცენტვრა*/
    justify-content: center;
    align-items: center;
    font-size: 18px; /*სიგრძე სიგანე*/
    border-radius: 8px;
    opacity: 0;
    transform: translateY(100%); /**/
    animation: moveUp 1.5s ease-out forwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50%{
        opacity: o.5;
        transform: translateY(30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.card:nth-child(1){ /*პირველი ბარათი*/
    animation-delay: 0.2s; /*ანიმაცის სისწრაფე*/
}
.card:nth-child(2){ /*მეორე ბარათი*/
    animation-delay: 0.4s; /*ანიმაცის სისწრაფე*/
}
.card:nth-child(3){ /*მესამე ბარათი*/
    animation-delay: 0.6s; /*ანიმაცის სისწრაფე*/
}


.right{ /*მარჯვენა იკონი*/
    width: 100px;  /*სიგრძე სიგანე*/
    height: 467px;
    display: flex; /*სიგრძეზე ცენტრში*/
    align-items: center;
}
.icon2{ /*ორი იკონი ერთ კონტეინერში*/
    width: 100px;  /*სიგრძე სიგანე*/
    height: 300px;
    display: flex; /*ერთმანეთის ქვემოთ კუთხებისკენ გადაწეული სიგრძეზე ცენტრში*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





/*მეორე არტიკლი payments*/
.payments{
    width: 1080px;  /*სიგრძე სიგანე*/
    height: 900px;
    display: flex; /*სიგრძეზე ცენტრში*/
    align-items: center;
}
.Container{
    width: 540px;
    height: 477px;
}
.chir-pay{
    width: 540px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay{
    width: 335px;
    height: 617px;
}
.logo{
    width: 140px; /*გავზარდე რათა დატეულიყო სახელიც და ლოგოც*/
    height: 28px;
    margin: 0 0 16px 16px;
    font-family: Inter;
    font-weight: 500;
    font-size: 17.16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #2e3a55;
}
.logo svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.Container h2{
    width: 460px;
    height: 96px;
    margin: 0 0 24px 16px;
    font-family: Inter;
    font-weight: 700;
    font-size: 35.77px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #0a2540;
}
.paragraf{
    width: 460px;
    height: 84px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16.59px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466;
    margin: 0 0 24px 16px;
}
.swp{
    width: 183.7px;
    height: 33px;
    border-radius: 16.5px;
    background-color: #635bff;
    border: none;
    margin: 0 0 56px 16px;
    /*წარწერას*/
    font-family: Inter;
    font-weight: 500;
    font-size: 13.48px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
}
.Container h3{
    width: 140px; /*მომიწია გამეწერა რადგან ორი h3 მაქვს და ამირია*/
    height: 24px;
    font-family: Inter;
    font-weight: 700;
    font-size: 14.18px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #0a2540;
    margin: 0 0 8px 16px;
}
.tax{
    width: 508px;
    height: 24px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 4px 16px;
}
.tax a{
    color: #635bff;
}
.rader{
    width: 508px;
    height: 24px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 4px 16px;
    color: #425466; 
}
.rader a{
    color: #635bff; 
}
.terminal{
    width: 508px;
    height: 24px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 4px 16px;
}
.terminal a{
    color: #635bff; 
}








.billing{
    width: 1080px;  /*სიგრძე სიგანე*/
    height: 900px;
    border: 2px solid red;
}
.connect{
    width: 1080px;  /*სიგრძე სიგანე*/
    height: 900px;
    border: 2px solid red;
}
.issuing{
    width: 1080px;  /*სიგრძე სიგანე*/
    height: 449px;
    border: 2px solid red;
}